src/main/resources/schemas/pixi/pixi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nrg.wustl.edu/pixi"
           xmlns:pixi="http://nrg.wustl.edu/pixi"
           xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xdat="http://nrg.wustl.edu/xdat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="AnimalDemographicData" type="pixi:animalDemographicData"/>
    <xs:element name="Weight" type="pixi:weightData"/>
    <xs:element name="DrugTherapy" type="pixi:drugTherapyData"/>
    <xs:element name="CaliperMeasurement" type="pixi:caliperMeasurementData"/>
    <xs:element name="Hotel" type="pixi:hotel"/>
    <xs:element name="HotelPosition" type="pixi:hotelPosition"/>
    <xs:element name="HotelSubject" type="pixi:hotelSubject"/>
    <xs:element name="HotelScanRecord" type="pixi:hotelScanRecord"/>

    <xs:element name="BliSession" type="pixi:bliSessionData"/>
    <xs:element name="BliScan" type="pixi:bliScanData"/>

    <xs:complexType name="animalDemographicData">
        <xs:annotation>
            <xs:appinfo>
                <xs:documentation>Animal Demographic Data</xs:documentation>
                <xdat:element ignoreWarnings="true"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:abstractDemographicData">
                <xs:sequence>
                    <xs:element name="species" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Species</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="strain" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Strain</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="source" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Source / Vendor</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geneticModifications" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Genetic Modifications</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Date of Birth</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sex" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Sex</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="male"/>
                                <xs:enumeration value="female"/>
                                <xs:enumeration value="other"/>
                                <xs:enumeration value="unknown"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="xenograftType1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>First Xenograft Type</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="None"/>
                                <xs:enumeration value="Cell Line"/>
                                <xs:enumeration value="PDX"/>
                                <xs:enumeration value="Other"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="xenograftType2" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Second Xenograft Type</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="None"/>
                                <xs:enumeration value="Cell Line"/>
                                <xs:enumeration value="PDX"/>
                                <xs:enumeration value="Other"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="pdx1" type="pixi:pdx"/>
                        <xs:element name="cellLine1" type="pixi:cellLine"/>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="pdx2" type="pixi:pdx"/>
                        <xs:element name="cellLine2" type="pixi:cellLine"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="xenograft">
        <xs:sequence>
            <xs:element name="injectionDate" type="xs:date" minOccurs="0"/>
            <xs:element name="numCellsInjected" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="injectionSite" type="xs:string" minOccurs="0"/>
            <xs:element name="injectionType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cellLine">
        <xs:complexContent>
            <xs:extension base="pixi:xenograft">
                <xs:sequence>
                    <xs:element name="externalID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>External ID of the Cell Line (not the internal XNAT/Hibernate ID)</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation foreignKeyTable="xhbm_cell_line_entity" foreignKeyName="xft_cell_line_externalID" foreignCol="externalid" onDelete="none"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="pdx">
        <xs:complexContent>
            <xs:extension base="pixi:xenograft">
                <xs:sequence>
                    <xs:element name="externalID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>External ID of the PDX (not the internal XNAT/Hibernate ID)</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation foreignKeyTable="xhbm_pdxentity" foreignKeyName="xft_pdx_externalID" foreignCol="externalid"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="passage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="weightData">
        <xs:annotation>
                <xs:documentation>An event in which a subject's weight is obtained outside the context of an imaging experiment.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="weight">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unit" type="xs:string">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="g"/>
                                <xs:enumeration value="kg"/>
                                <xs:enumeration value="lbs"/>
                                <xs:enumeration value="oz"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="technician" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Individual responsible for this measurement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="drugTherapyData">
        <xs:annotation>
            <xs:documentation>An event in which a subject is administered a drug or medication.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="drug" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Name of the drug being administered</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dose" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The value of the dose, e.g 500.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="doseUnit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of the dose, e.g. 'mg'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lotNumber" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The identifier assigned to a batch of the specified drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="route" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The route by which this drug is administered, e.g. 'oral'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="site" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The body site administered to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who administered this drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="caliperMeasurementData">
        <xs:annotation>
            <xs:documentation>An event in which a subject's tumor volume is measured manually with calipers.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="length">
                        <xs:annotation>
                            <xs:documentation>The length of the tumor.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="width">
                        <xs:annotation>
                            <xs:documentation>The width of the tumor.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of measurement used for both length and width.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who took the measurement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="bliSessionData">
        <xs:annotation>
            <xs:documentation>An event in which BLI scans are obtained on a subject</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageSessionData">
                <xs:sequence minOccurs="0">
                    <xs:element name="luciferin" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Amount of luciferin injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="luciferinUnit" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Unit for the amount luciferin injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="luciferinInjectionTime" type="xs:dateTime" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The datetime when the luciferin was injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="hotelSession" type="xs:boolean" default="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Is this a multi-subject / hotel session?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bliHotelSubject" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="subjectLabel" type="xs:string"/>
                            <xs:attribute name="position" type="xs:string"/>
                            <xs:attribute name="splitSessionLabel" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="bliScanData">
        <xs:complexContent>
            <xs:extension base="xnat:imageScanData">
                <xs:sequence minOccurs="0">
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="luminescenceData">
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>
                    <xs:element name="luminescence" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="hotel">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <xdat:field>
                            <xdat:sqlField primaryKey="true"/>
                        </xdat:field>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <xdat:field unique="true"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="positions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="position" type="pixi:hotelPosition" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hotelPosition">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Human readable hotel position name (Example: Top Left)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="x" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the first value starts at one for the left most subject holder and monotonically increases by one for each successive subject holder towards the right.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="y" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the second value starts at one for the top most subject holder and monotonically increases by one for each successively lower subject holder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="z" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the third value starts at one for the outer most subject holder and monotonically increases by one for each successive subject holder inwards (i.e., increasing values from the front to the back of the gantry along the direction orthogonal to the first two dimensions, usually the long axis of the table)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hotelSubject">
        <xs:sequence>

            <xs:element name="position" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Subject position in hotel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="orientation" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject orientation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weight" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject weight (g)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="injection_time" type="xs:time" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Radiopharmaceutical Injection Time</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Radiopharmaceutical Activity</xs:documentation> <!-- //TODO: Units -->
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="notes" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject notes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="split_session_label" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject notes</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="subject_id" type="xs:string">
            <xs:annotation>
                <xs:appinfo>
                    <xdat:field baseElement="xnat:subjectData" baseCol="id">
                        <xdat:sqlField name="subject_id"/>
                    </xdat:field>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="subject_label" type="xs:string">
            <xs:annotation>
                <xs:documentation>Subject label</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="hotelScanRecord">
        <xs:annotation>
            <xs:appinfo>
                <xs:documentation>Hotel Scan Record. Captures data needed to split a hotel image session.</xs:documentation>
                <xdat:element ignoreWarnings="true"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:abstractProjectAsset">
                <xs:sequence>
                    <xs:element name="session_label" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>The label of the hotel session to split.</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="session_uri" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>The archive path to the hotel session to split. Expected format is "/archive/projects/PROJECT_ID/subjects/XNAT_S00001/experiments/XNAT_E00001"</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="hotel" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xdat:field baseElement="pixi:hotel" baseCol="name">
                                    <xdat:sqlField name="hotel_name"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="hotel_subjects">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="subject" type="pixi:hotelSubject" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="status">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>Calculated status based on hotel session splitting progress</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>