src/main/resources/schemas/pixi/pixi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nrg.wustl.edu/pixi"
           xmlns:pixi="http://nrg.wustl.edu/pixi"
           xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xdat="http://nrg.wustl.edu/xdat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="AnimalDemographicData" type="pixi:animalDemographicData"/>
    <xs:element name="PDX" type="pixi:pdxData"/>
    <xs:element name="CellLine" type="pixi:cellLineData"/>
    <xs:element name="Weight" type="pixi:weightData"/>
    <xs:element name="DrugTherapy" type="pixi:drugTherapyData"/>
    <xs:element name="CaliperMeasurement" type="pixi:caliperMeasurementData"/>
    <xs:element name="AnimalHusbandry" type="pixi:animalHusbandryData"/>

    <xs:element name="ImageAcquisitionContext" type="pixi:imageAcquisitionContextData"/>
    <xs:element name="ImageAcquisitionContextAssessor" type="pixi:imageAcquisitionContextAssessorData"/>
    <xs:element name="Fasting" type="pixi:fastingData"/>
    <xs:element name="Anesthesia" type="pixi:anesthesiaData"/>
    <xs:element name="HeatingConditions" type="pixi:heatingConditionsData"/>

    <xs:element name="Hotel" type="pixi:hotel"/>
    <xs:element name="HotelPosition" type="pixi:hotelPosition"/>
    <xs:element name="HotelSubject" type="pixi:hotelSubject"/>
    <xs:element name="HotelScanRecord" type="pixi:hotelScanRecord"/>

    <xs:element name="BliSession" type="pixi:bliSessionData"/>
    <xs:element name="BliScan" type="pixi:bliScanData"/>

    <xs:element name="Biodistribution" type="pixi:biodistributionData"/>
    <xs:element name="BiodInjection" type="pixi:biodInjectionData"/>
    <xs:element name="BiodUptake" type="pixi:biodSampleUptakeData"/>

    <xs:complexType name="animalDemographicData">
        <xs:annotation>
            <xs:appinfo>
                <xs:documentation>Animal Demographic Data</xs:documentation>
                <xdat:element ignoreWarnings="true"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:abstractDemographicData">
                <xs:sequence>
                    <xs:element name="species" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Species</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="strain" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Strain</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="source" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Source / Vendor</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="stockNumber" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Stock Number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geneticModifications" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Genetic Modifications (based on International Committee on Standardized Genetic Nomenclature)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geneticModificationsSecondary" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Genetic Modifications (if different from standardized nomenclature)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Date of Birth</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sex" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Sex</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="male"/>
                                <xs:enumeration value="Male"/>
                                <xs:enumeration value="m"/>
                                <xs:enumeration value="M"/>
                                <xs:enumeration value="female"/>
                                <xs:enumeration value="Female"/>
                                <xs:enumeration value="f"/>
                                <xs:enumeration value="F"/>
                                <xs:enumeration value="other"/>
                                <xs:enumeration value="unknown"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="litter" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Litter</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="strainImmuneSystemHumanizationType" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Litter</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Date of Death</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endpoint" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal Endpoint</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="animalHusbandryData">
        <xs:annotation>
            <xs:documentation>Record animal feeding and housing information over an interval during which conditions are relatively homogeneous.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="animalFeed" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The animal feed type</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="feedSource" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The source of animal feed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="feedManufacturer" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The manufacturer of the animal feed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="feedProductName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The manufacturer's product name of the feed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="feedProductCode" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The manufacturer's product code of the feed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="feedingMethod" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The animal feeding method</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="waterType" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The type of water used.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="waterDelivery" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The method of water delivery.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="numberOfAnimalsWithinSameHousingUnit" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The number of animals within the same housing unit.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sexOfAnimalsWithinSameHousingUnit" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The sex of the animals within the same housing unit.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="environmentalTemperature" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The environmental temperature.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="housingHumidity" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The humidity of the housing unit.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="cellLineData">
        <xs:annotation>
            <xs:documentation>An event in which a cell line is injected into a small animal subject to create an animal model that can be used for preclinical research.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:sequence>
                        <xs:element name="sourceId" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>ID of the Cell Line at it's source (not the internal XNAT/Hibernate ID)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="injectionSite" type="xs:string" minOccurs="0"/>
                        <xs:element name="injectionType" type="xs:string" minOccurs="0"/>
                        <xs:element name="numCellsInjected" type="xs:positiveInteger" minOccurs="0"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="pdxData">
        <xs:annotation>
            <xs:documentation>An event in which human tumor tissue is engrafted into a small animal subject to create an animal model that can be used for preclinical research.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="sourceId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>ID of the PDX at it's source (not the internal XNAT/Hibernate ID)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="injectionSite" type="xs:string" minOccurs="0"/>
                    <xs:element name="injectionType" type="xs:string" minOccurs="0"/>
                    <xs:element name="numCellsInjected" type="xs:positiveInteger" minOccurs="0"/>
                    <xs:element name="passage" type="xs:string" minOccurs="0"/>
                    <xs:element name="passageMethod" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="weightData">
        <xs:annotation>
                <xs:documentation>An event in which a subject's weight is obtained outside the context of an imaging experiment.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="weight" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>Subject weight</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="unit">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="g"/>
                                <xs:enumeration value="kg"/>
                                <xs:enumeration value="lbs"/>
                                <xs:enumeration value="oz"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="technician" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Individual responsible for this measurement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="drugTherapyData">
        <xs:annotation>
            <xs:documentation>An event in which a subject is administered a drug or medication.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="drug" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Name of the drug being administered</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dose" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The value of the dose, e.g 500.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="doseUnit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of the dose, e.g. 'mg'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lotNumber" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The identifier assigned to a batch of the specified drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="route" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The route by which this drug is administered, e.g. 'oral'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="site" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The body site administered to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who administered this drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="weight" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Subject weight</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="weightUnit" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="g"/>
                                <xs:enumeration value="kg"/>
                                <xs:enumeration value="lbs"/>
                                <xs:enumeration value="oz"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="caliperMeasurementData">
        <xs:annotation>
            <xs:documentation>An event in which a subject's tumor volume is measured manually using a caliper measurement tool.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="length" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The length of the tumor.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="width" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The width of the tumor.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="unit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of measurement used for both length and width.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who took the measurement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="weight" type="xs:decimal" minOccurs="0"></xs:element>
                    <xs:element name="weightUnit" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="g"/>
                                <xs:enumeration value="kg"/>
                                <xs:enumeration value="lbs"/>
                                <xs:enumeration value="oz"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="imageAcquisitionContextAssessorData">
        <xs:annotation>
            <xs:documentation>Description of the conditions present during and related to data acquisition for a single imaging procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>
                    <xs:element name="imageAcquisitionContext" type="pixi:imageAcquisitionContextData" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="imageAcquisitionContextData">
        <xs:annotation>
            <xs:documentation>Description of the conditions present during and related to data acquisition for a single imaging procedure.</xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name="fasting" type="pixi:fastingData" minOccurs="0"/>
                <xs:element name="heatingConditions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="heatingConditions" type="pixi:heatingConditionsData" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="anesthesias" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="anesthesia" type="pixi:anesthesiaData" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fastingData">
        <xs:annotation>
            <xs:documentation>Information about the fasting status of the subject during the procedure.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="fastingStatus" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Whether the subject was fasting during the procedure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fastingDuration" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Duration of the fasting period, in hours.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="heatingConditionsData">
        <xs:annotation>
            <xs:documentation>Information about the heating conditions applied to the subject during the procedure.</xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name="procedurePhase" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Phase of the procedure during which the heating conditions were applied (e.g. 'preoperative', 'intraoperative', 'postoperative').</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="heatingMethod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Method of heating used (e.g. 'electric blanket', 'heated imaging device', 'unheated').</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="feedbackTemperatureRegulation" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Indicates whether temperature is regulated by feedback from a temperature sensor used to control an active heating or cooling device.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="temperatureSensorDeviceComponent" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Device used to measure temperature (e.g. 'rectal temperature', 'thermography', 'carrier temperature sensor').</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="setpointTemperature" type="xs:decimal" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Sensor temperature setpoint, in degrees Celsius.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="anesthesiaData">
        <xs:sequence>
            <xs:element name="anesthesia" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The anesthesia used during the procedure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="routeOfAdministration" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The route of administration of the anesthesia.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="bliSessionData">
        <xs:annotation>
            <xs:documentation>An event in which BLI scans are obtained on a subject</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:imageSessionData">
                <xs:sequence minOccurs="0">
                    <xs:element name="luciferin" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Amount of luciferin injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="luciferinUnit" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Unit for the amount luciferin injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="luciferinInjectionTime" type="xs:dateTime" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The datetime when the luciferin was injected.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="hotelSession" type="xs:boolean" default="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Is this a multi-subject / hotel session?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bliHotelSubject" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="subjectLabel" type="xs:string"/>
                            <xs:attribute name="position" type="xs:string"/>
                            <xs:attribute name="splitSessionLabel" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="bliScanData">
        <xs:complexContent>
            <xs:extension base="xnat:imageScanData">
                <xs:sequence minOccurs="0">
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="luminescenceData">
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>
                    <xs:element name="luminescence" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="hotel">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <xdat:field>
                            <xdat:sqlField primaryKey="true"/>
                        </xdat:field>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <xdat:field unique="true"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="positions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="position" type="pixi:hotelPosition" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hotelPosition">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Human readable hotel position name (Example: Top Left)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="x" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the first value starts at one for the left most subject holder and monotonically increases by one for each successive subject holder towards the right.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="y" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the second value starts at one for the top most subject holder and monotonically increases by one for each successively lower subject holder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="z" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>DICOM Subject Relative Position: the third value starts at one for the outer most subject holder and monotonically increases by one for each successive subject holder inwards (i.e., increasing values from the front to the back of the gantry along the direction orthogonal to the first two dimensions, usually the long axis of the table)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hotelSubject">
        <xs:sequence>
            <xs:element name="position" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Subject position in hotel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="orientation" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject orientation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weight" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject weight (g)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_date" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Radiopharmaceutical Injection Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_time" type="xs:time" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Radiopharmaceutical Injection Time</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Radiopharmaceutical Activity</xs:documentation> <!-- //TODO: Units -->
                </xs:annotation>
            </xs:element>
            <xs:element name="notes" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subject notes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="split_session_label" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Session label of the single subject image session</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="imageAcquisitionContext" type="pixi:imageAcquisitionContextData" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The image acquisition context for this subject.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="subject_id" type="xs:string">
            <xs:annotation>
                <xs:appinfo>
                    <xdat:field baseElement="xnat:subjectData" baseCol="id">
                        <xdat:sqlField name="subject_id"/>
                    </xdat:field>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="subject_label" type="xs:string">
            <xs:annotation>
                <xs:documentation>Subject label</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="hotelScanRecord">
        <xs:annotation>
            <xs:appinfo>
                <xs:documentation>Hotel Scan Record. Captures data needed to split a hotel image session.</xs:documentation>
                <xdat:element ignoreWarnings="true"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:abstractProjectAsset">
                <xs:sequence>
                    <xs:element name="session_label" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>The label of the hotel session to split.</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="session_uri" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>The archive path to the hotel session to split. Expected format is "/archive/projects/PROJECT_ID/subjects/XNAT_S00001/experiments/XNAT_E00001"</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="hotel" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xdat:field baseElement="pixi:hotel" baseCol="name">
                                    <xdat:sqlField name="hotel_name"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician_perspective" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>Typically, the hotel positions are labeled based on the technician looking at the gantry from the front of the scanner. Some scanners may be labeled from the back. This field allows the user to specify the perspective of the technician.</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Front"/>
                                <xs:enumeration value="front"/>
                                <xs:enumeration value="Back"/>
                                <xs:enumeration value="back"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hotel_subjects">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="subject" type="pixi:hotelSubject" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="status">
                        <xs:annotation>
                            <xs:appinfo>
                                <xs:documentation>Calculated status based on hotel session splitting progress</xs:documentation>
                                <xdat:element ignoreWarnings="true"/>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="biodistributionData">
        <xs:annotation>
            <xs:documentation>An event in which the biodistribution of a radiopharmaceutical is measured in a subject.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="injection_data" type="pixi:biodInjectionData" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Injection data</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sample_uptake_data" type="pixi:biodSampleUptakeData"  minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Sample uptake data</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="anesthesia_administration" type="pixi:anesthesiaData" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Anesthesia administration</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="animal_weight" type="xs:decimal" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal weight</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="animal_weight_unit" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal weight unit (g)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="animal_sacrifice_date" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal sacrifice date</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="animal_sacrifice_time" type="xs:time" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Animal sacrifice time</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Individual responsible for this measurement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="biodInjectionData">
        <xs:sequence>
            <xs:element name="tracer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tracer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="isotope" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Isotope</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="diluent" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Diluent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injected_dose" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injected dose</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injected_dose_unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injected dose unit (MBq or μCi)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_volume" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection volume</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_volume_unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection volume unit (mL)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_route" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection route</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_site" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection site</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_date" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="injection_time" type="xs:time" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Injection time</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="biodSampleUptakeData">
        <xs:sequence>
            <xs:element name="sample_type" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tissue or organ sample type (e.g. blood, liver, kidney, feces)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sample_weight" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Samples weight</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sample_weight_unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Samples weight unit (g)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="percent_injected_dose_per_gram" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Percent injected dose per gram</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="percent_injected_dose_per_organ" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Percent injected dose per organ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timepoint_value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timepoint value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timepoint_unit" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timepoint unit (e.g. hours, minutes)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>