src/main/resources/schemas/pixi/pixi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nrg.wustl.edu/pixi"
           xmlns:pixi="http://nrg.wustl.edu/pixi"
           xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xdat="http://nrg.wustl.edu/xdat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="AnimalDemographicData" type="pixi:animalDemographicData"/>
    <xs:element name="Weight" type="pixi:weightData"/>
    <xs:element name="DrugTherapy" type="pixi:drugTherapyData"/>
    <xs:element name="CaliperMeasurement" type="pixi:caliperMeasurementData"/>
    <xs:complexType name="animalDemographicData">
        <xs:annotation>
            <xs:appinfo>
                <xs:documentation>Animal Demographic Data</xs:documentation>
                <xdat:element ignoreWarnings="true"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:abstractDemographicData">
                <xs:sequence>
                    <xs:element name="species" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Species</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="strain" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Strain</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="source" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Source / Vendor</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geneticModifications" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Genetic Modifications</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Date of Birth</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sex" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Sex</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="male"/>
                                <xs:enumeration value="female"/>
                                <xs:enumeration value="other"/>
                                <xs:enumeration value="unknown"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="xenograftType1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>First Xenograft Type</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="None"/>
                                <xs:enumeration value="Cell Line"/>
                                <xs:enumeration value="PDX"/>
                                <xs:enumeration value="Other"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="xenograftType2" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Second Xenograft Type</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="None"/>
                                <xs:enumeration value="Cell Line"/>
                                <xs:enumeration value="PDX"/>
                                <xs:enumeration value="Other"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="pdx1" type="pixi:pdx"/>
                        <xs:element name="cellLine1" type="pixi:cellLine"/>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="pdx2" type="pixi:pdx"/>
                        <xs:element name="cellLine2" type="pixi:cellLine"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="xenograft">
        <xs:sequence>
            <xs:element name="injectionDate" type="xs:date" minOccurs="0"/>
            <xs:element name="numCellsInjected" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="injectionSite" type="xs:string" minOccurs="0"/>
            <xs:element name="injectionType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cellLine">
        <xs:complexContent>
            <xs:extension base="pixi:xenograft">
                <xs:sequence>
                    <xs:element name="externalID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>External ID of the Cell Line (not the internal XNAT/Hibernate ID)</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation foreignKeyTable="xhbm_cell_line_entity" foreignKeyName="xft_cell_line_externalID" foreignCol="externalid" onDelete="none"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="pdx">
        <xs:complexContent>
            <xs:extension base="pixi:xenograft">
                <xs:sequence>
                    <xs:element name="externalID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>External ID of the PDX (not the internal XNAT/Hibernate ID)</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation foreignKeyTable="xhbm_pdxentity" foreignKeyName="xft_pdx_externalID" foreignCol="externalid"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="passage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="weightData">
        <xs:annotation>
                <xs:documentation>An event in which a subject's weight is obtained outside the context of an imaging experiment.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="weight">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unit" type="xs:string">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="g"/>
                                <xs:enumeration value="kg"/>
                                <xs:enumeration value="lbs"/>
                                <xs:enumeration value="oz"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="technician" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Individual responsible for this measurement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="drugTherapyData">
        <xs:annotation>
            <xs:documentation>An event in which a subject is administered a drug or medication.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="drug" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Name of the drug being administered</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dose" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>The value of the dose, e.g 500.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="doseUnit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of the dose, e.g. 'mg'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lotNumber" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The identifier assigned to a batch of the specified drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="route" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The route by which this drug is administered, e.g. 'oral'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="site" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The body site administered to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who administered this drug.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="caliperMeasurementData">
        <xs:annotation>
            <xs:documentation>An event in which a subject's tumor volume is measured manually with calipers.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence>
                    <xs:element name="length">
                        <xs:annotation>
                            <xs:documentation>The length of the tumor.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="width">
                        <xs:annotation>
                            <xs:documentation>The width of the tumor.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minExclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="unit" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The unit of measurement used for both length and width.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="technician" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Individual who took the measurement.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>